<div class="flex flex-col md:flex-row md:items-center md:justify-between gap-2 mb-6">
	<h1 class="text-3xl md:text-4xl font-semibold text-gray-900 tracking-tight">Dashboard</h1>
	<h1 class="text-base md:text-xl font-normal text-gray-500 tracking-tight">{{ formattedDate }}</h1>
</div>

<!-- Top Modules -->
<div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
	<!-- Strength -->
    <app-strength-widget></app-strength-widget>
    <app-conditioning-widget></app-conditioning-widget>

	<!-- Nutrition -->
	<!-- <div class="bg-gray-900 text-white rounded-2xl shadow-md p-6 flex flex-col justify-between h-full">
		<div>
			<h2 class="text-xl font-semibold mb-4">Nutrition</h2>
			<div class="text-sm opacity-70 mb-2">Calories Consumed</div>
			<div class="text-2xl font-bold mb-4">1,850 kcal</div>
			<div class="flex justify-between text-sm opacity-80">
				<div>
					<div class="text-lg font-semibold">120g</div>
					Protein
				</div>
				<div>
					<div class="text-lg font-semibold">150g</div>
					Carbs
				</div>
				<div>
					<div class="text-lg font-semibold">50g</div>
					Fats
				</div>
			</div>
		</div>
		<div class="mt-6">
			<a routerLink="/nutrition/meal-library" href="#" class="text-sm text-blue-400 hover:underline">
				Nutrition
				<i class="fa-sharp fa-thin fa-arrow-right ml-2"></i>
			</a>
		</div>
	</div> -->
</div>


<div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-1 gap-6 mt-6">

    <app-summary-widget></app-summary-widget>
	<!-- <div class="bg-white border border-gray-200 rounded-2xl p-6 flex flex-col justify-between h-full">
		<div>
			<h2 class="text-xl font-semibold text-gray-900 mb-4">Calorie Breakdown</h2>
			<div class="grid grid-cols-2 gap-4 mb-4 text-sm text-gray-700">
				<div>
					<div class="text-lg font-semibold text-gray-900">1,850 kcal</div>
					Consumed
				</div>
				<div>
					<div class="text-lg font-semibold text-gray-900">2,300 kcal</div>
					Burned
				</div>
			</div>
			<div class="mb-4">
				<h3 class="text-sm text-gray-500 font-medium mb-2">Calories Burned By Activity</h3>
				<ul class="text-sm text-gray-700 space-y-1">
					<li>
						<span class="font-semibold text-gray-900">Workout:</span>
						600 kcal
					</li>
					<li>
						<span class="font-semibold text-gray-900">Conditioning:</span>
						700 kcal
					</li>
					<li>
						<span class="font-semibold text-gray-900">BMR / Daily Living:</span>
						1,000 kcal
					</li>
				</ul>
			</div>
			<div class="border-t border-gray-200 pt-4 mt-4">
				<div class="text-sm text-gray-500 mb-1">Net Calories</div>
				<div class="text-lg font-bold">-450 kcal</div>
				<div class="text-xs text-gray-400">In deficit (burned more than consumed)</div>
			</div>
		</div>
		<div class="mt-6">
			<a routerLink="/nutrition" href="#" class="text-sm text-blue-600 hover:underline">
				Nutrition
				<i class="fa-sharp fa-thin fa-arrow-right ml-2"></i>
			</a>
		</div>
	</div> -->
</div>

<!-- <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">

	<div class="bg-gray-900 text-white border border-gray-800 rounded-2xl p-6 flex flex-col justify-between h-full">
		<div>
			<div class="mb-4">
				<h2 class="text-xl font-semibold">Todays Notes</h2>
				<h3 class="text-xs text-gray-400">Thursday, 24th July</h3>
			</div>
			<div class="text-sm text-gray-300 leading-relaxed">
				No notes for today. Remember to log your thoughts after each session to track progress and insights.
			</div>
		</div>
		<div class="mt-6">
			<a routerLink="/notes" class="text-sm text-blue-400 hover:underline">
				Notes
				<i class="fa-sharp fa-thin fa-arrow-right ml-2"></i>
			</a>
		</div>
	</div>

	<div class="bg-gray-900 text-white border border-gray-800 rounded-2xl p-6 flex flex-col justify-between h-full">
		<div>
			<div class="mb-4">
				<h2 class="text-xl font-semibold">Body Composition</h2>
			</div>
			<div class="grid grid-cols-3 gap-4 text-sm text-gray-300">
				<div>
					<div class="text-lg font-semibold text-white">74.8 kg</div>
					Weight
				</div>
				<div>
					<div class="text-lg font-semibold text-white">14.2%</div>
					Body Fat
				</div>
				<div>
					<div class="text-lg font-semibold text-white">63.2 kg</div>
					Muscle Mass
				</div>
			</div>
		</div>
		<div class="mt-6">
			<a routerLink="/body-composition" class="text-sm text-blue-400 hover:underline">
				Body Composition
				<i class="fa-sharp fa-thin fa-arrow-right ml-2"></i>
			</a>
		</div>
	</div>
</div> -->

<!-- Goal Tracker -->
<!-- <div class="max-w-7xl mx-auto mt-6">
	<div class="bg-white border border-gray-200 rounded-2xl p-6 flex flex-col justify-between h-full">
		<div>
			<h2 class="text-xl font-semibold text-gray-900 mb-4">Goals</h2>
			<div class="space-y-4 text-sm text-gray-700">
				<div>
					<div class="flex justify-between mb-1">
						<span>5K Under 20:00</span>
						<span class="text-gray-500">70%</span>
					</div>
					<div class="w-full bg-gray-200 h-2 rounded-full">
						<div class="bg-green-500 h-2 rounded-full" style="width: 70%"></div>
					</div>
				</div>

				<div>
					<div class="flex justify-between mb-1">
						<span>Gain 2kg Muscle</span>
						<span class="text-gray-500">1.2kg / 2kg</span>
					</div>
					<div class="w-full bg-gray-200 h-2 rounded-full">
						<div class="bg-blue-500 h-2 rounded-full" style="width: 60%"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-6">
			<a routerLink="/goals" class="text-sm text-blue-600 hover:underline">
				Goals
				<i class="fa-sharp fa-thin fa-arrow-right ml-2"></i>
			</a>
		</div>
	</div>
</div> -->
