@if (resourcesLoading) {
<app-loading-indicator [loading]="resourcesLoading"></app-loading-indicator>
} @else {
<h1 class="text-4xl font-semibold text-gray-900 tracking-tight mb-4">Week Planner</h1>
<button
	type="submit"
	class="bg-blue-600 text-white px-5 py-2.5 rounded-xl text-sm font-medium hover:bg-blue-700 transition cursor-pointer mb-4"
	(click)="updateWeekPlan()">
	Save
</button>

<div class="flex flex-col">
	<main class="flex-1">
		<section aria-label="Week schedule" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
			@for (day of weekPlan?.days; track day) {
			<article class="bg-white border border-gray-200 rounded-2xl p-6 flex flex-col justify-between h-full">
				<div class="mb-4">
					<div class="flex items-center justify-between mb-4">
						<h2 class="text-lg font-semibold text-gray-900">{{ day.dayName }}</h2>
					</div>
					<div class="space-y-4 text-sm text-gray-700">
						@for (workout of day.workouts; track workout._id) {
						<div class="bg-gray-50 rounded-xl p-3 flex justify-between items-center">
							<div>
								<div class="text-md font-semibold text-gray-900">{{ workout.name }}</div>
								<div>Strength</div>
							</div>
							<a (click)="removeWorkout(day.dayName, workout)" class="ml-2 cursor-pointer">
								<i class="fa-solid fa-trash-can"></i>
							</a>
						</div>
						} @for (session of day.conditioning; track session._id) {
						<div class="bg-gray-50 rounded-xl p-3 flex justify-between items-center">
							<div>
								<div class="text-md font-semibold text-gray-900">{{ session.name }}</div>
								<div>Conditioning</div>
							</div>
							<a (click)="removeConditioning(day.dayName, session)" class="ml-2 cursor-pointer">
								<i class="fa-solid fa-trash-can"></i>
							</a>
						</div>
						}
					</div>
				</div>
				<button (click)="editDay(day)" class="text-left text-sm text-blue-600 hover:underline cursor-pointer">
					Add session
					<i class="fa-sharp fa-thin fa-arrow-right ml-2"></i>
				</button>
			</article>
			}
		</section>
	</main>
</div>

<app-side-drawer side="left">
	<h1 class="text-4xl font-semibold text-gray-900 tracking-tight mb-4">{{ selectedDay?.dayName }}</h1>

	<div class="overflow-y-auto">
		<!-- Top half -->
		<section class="overflow-y-auto mb-4">
			<h2 class="text-lg font-semibold text-gray-900 pb-4">Strength Workouts</h2>
			<div class="">
				@for (workout of allWorkouts; track workout._id) {
				<div class="space-y-4 text-sm text-gray-700 mb-2">
					<div class="bg-gray-50 rounded-xl p-3">
						<div class="text-md font-semibold text-gray-900">{{ workout.name }}</div>
						<button
							(click)="addWorkoutToDay(selectedDay?.dayName, workout)"
							class="mt-2 text-blue-600 hover:underline cursor-pointer">
							Add to day
							<i class="fa-solid fa-plus"></i>
						</button>
					</div>
				</div>
				}
			</div>
		</section>

		<!-- Bottom half -->
		<section>
			<h2 class="text-lg font-semibold text-gray-900 pb-4">Conditioning Sessions</h2>
			<div>
				@for (conditioning of allConditioningSessions; track conditioning._id) {
				<div class="space-y-4 text-sm text-gray-700 mb-2">
					<div class="bg-gray-50 rounded-xl p-3">
						<div class="text-md font-semibold text-gray-900">{{ conditioning.name }}</div>
						<button
							(click)="addConditioningToDay(selectedDay?.dayName, conditioning)"
							class="mt-2 text-blue-600 hover:underline cursor-pointer">
							Add to Day
							<i class="fa-solid fa-plus"></i>
						</button>
					</div>
				</div>
				}
			</div>
		</section>
	</div>
</app-side-drawer>
}

