@if(editModeEnabled) {
<app-edit-workout [selectedWorkout]="selectedWorkout" (closeEditModeEvent)="closeEditMode()"></app-edit-workout>
} @else {
<div class="mb-4">
	<button (click)="openEditMode()" class="text-blue-600 bg-blue-50 hover:bg-blue-100 px-4 py-2 rounded-md text-sm font-medium cursor-pointer">
		Add a Workout
	</button>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
	@for(workout of allWorkouts; track workout._id) {
	<div class="bg-white border border-gray-200 rounded-2xl p-4 flex flex-col justify-between h-full">
		<div>
			<div class="text-lg font-semibold text-gray-900 mb-1">{{ workout.name }}</div>
			<div class="text-sm text-gray-700 mb-2">{{ workout.description }}</div>
			<div class="flex items-center justify-between gap-2 mb-2">
				<div class="text-sm text-gray-600">
					Exercises:
					<span class="font-medium text-gray-900">{{ workout.exercises.length }}</span>
				</div>
				<div class="text-sm">
					<span class="inline-block px-2 py-1 text-xs font-semibold text-gray-800 bg-gray-200 rounded-full">
						45 minutes
					</span>
				</div>
			</div>
		</div>
		<div class="mt-4 flex justify-end gap-3 text-gray-500">
			<i (click)="openEditMode(workout)" class="fa-solid fa-pen-to-square cursor-pointer hover:text-gray-700"></i>
			<i (click)="deleteWorkout(workout._id)" class="fa-solid fa-trash-can cursor-pointer hover:text-red-600"></i>
		</div>
	</div>
	}
</div>

}
