<div class="bg-gray-900 text-white rounded-2xl shadow-md p-6 flex flex-col justify-between h-full">
	<div>
		<h2 class="text-xl font-semibold mb-4">Conditioning</h2>
		<div class="text-sm opacity-70 mb-2">Todays session</div>

		@if (todaysWorkouts.length === 0) {
		<div class="text-2xl font-bold mb-4">No sessions scheduled</div>
		}@else { @for(workout of todaysWorkouts; track workout._id;) {
		<div class="text-2xl font-bold mb-4">{{ workout.name }}</div>
		<div class="flex justify-between text-sm opacity-80">
			<div>
				<div class="text-lg font-semibold">Duration</div>
				{{ workout.duration }} minutes
			</div>
		</div>
		} }
	</div>
	<div class="mt-6">
		<a routerLink="/conditioning/conditioning-records" class="text-sm text-blue-400 hover:underline">
			Conditioning
			<i class="fa-sharp fa-thin fa-arrow-right ml-2"></i>
		</a>
	</div>
</div>
